@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('deluxe-logo-nova.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px); /* Aplica o desfoque */
    z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 20px;
}
.navbar .logo {
    width: 100px;
    border-radius: 20px;
}
.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar .nav-links li {
    display: inline;
}
.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}
.navbar .nav-links a:hover {
    color: gray;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 48px 15px rgba(0,0,0,0.49);
}
.container h2 {
    font-size: 24px;
}
.container .price {
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 230, 0);
    margin: 10px 0;
}
.container .btn {
    background-color: rgb(255, 230, 0);
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.container .btn:hover {
    background-color: #d4af37;
}
.textcontainer {
    text-shadow: 4px 4px 10px rgba(0,0,0,0.36);
}
.container-info {
    background-color: black;
    color: white;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 4px 48px 15px rgba(0,0,0,0.49);
}